@import url('https://fonts.google.com/specimen/Fjalla+One');
@import url('https://fonts.google.com/specimen/DM+Sans');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM-Sans', sans-serif;
}
h1,
h2,
h3{
  font-family: "Fjalla-One";
  font-size: 3rem;
}

body{
  height: 95vh;
  background:rgb(255, 255, 255);
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  display:flex;
  flex-direction: column;
}

main {
  position: relative;
  padding-top: 0px; 
  padding-bottom: 3rem;
}

.contentor1{
  display: grid;
  /*grid-template-columns: 33.3% 33.3% 33.3%;*/
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 70%;
  margin: 0 auto;
  padding:1em 0 1em 0;
  flex: 1 1 100px;
  flex-direction: row;
  
 
}

.contentor2{
  display: grid;
  /*grid-template-columns: 33.3% 33.3% 33.3%;*/
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 70%;
  margin: 0 auto;
  padding:1em 0 1em 0;
  flex: 1 1 100px;
  flex-direction: column;
  border: 4px solid;
 
}

.box1{
  width: 25rem; /* Set the width of the box */
  height: 20rem; /* Change height to auto to accommodate content */
  margin-top: 30px; /* Add top margin */
  
 
  margin: auto; /* Center the box horizontally */
  display: flex;
  flex-direction: row;
  
  justify-content: space-around; /* Space items evenly horizontally */
}

.box2 {  
  width: 25rem; /* Set the width of the box */
  height: 20rem; /* Change height to auto to accommodate content */
  margin-top: 30px; /* Add top margin */
  
  margin: auto; /* Center the box horizontally */
  display: flex;
  flex-direction: row;
  
  justify-content: space-around; /* Space items evenly horizontally */
}

.box3 {  
  width: 25rem; /* Set the width of the box */
  height: 20rem; /* Change height to auto to accommodate content */
  margin-top: 30px; /* Add top margin */
  
 
  margin: auto; /* Center the box horizontally */
  display: flex;
  flex-direction: row;
  
  justify-content: space-around; /* Space items evenly horizontally */
}

.boxL{
  width: 45rem; /* Set the width of the box */
  height: 20rem; /* Change height to auto to accommodate content */
  margin-top: 30px; /* Add top margin */
  text-align:left;
  margin: auto; /* Center the box horizontally */
  
  justify-content: space-around; /* Space items evenly horizontally */
}


.review1{
  width: 25rem; /* Set the width of the box */
  height: 20rem; /* Change height to auto to accommodate content */
  margin-top: 30px; /* Add top margin */
  background-color: #fa650f;
  border: 4px solid;
 
  margin: auto; /* Center the box horizontally */
  
 
  
  text-align:left;
  justify-content: space-around; /* Space items evenly horizontally */
}

.review2{  
  width: 25rem; /* Set the width of the box */
  height: 20rem; /* Change height to auto to accommodate content */
  margin-top: 30px; /* Add top margin */
  border: 4px solid;
 
  background-color: #fa650f;
  margin: auto; /* Center the box horizontally */
  
  
  text-align:left;
  justify-content: space-around; /* Space items evenly horizontally */
}

